{{ range .Objects }}
type {{ initialCap .Name }}Callbacks interface {
{{ if .OperProperties | len }}
  {{ initialCap .Name }}GetOper({{ .Name }} *{{ initialCap .Name }}Inspect) error {{ end }}
  {{ initialCap .Name }}Create({{ .Name }} *{{ initialCap .Name }}) error
  {{ initialCap .Name }}Update({{ .Name }}, params *{{ initialCap .Name }}) error
  {{ initialCap .Name }}Delete({{ .Name }} *{{ initialCap .Name }}) error
}
{{ end }}

type CallbackHandlers struct {
  {{ range .Objects }} {{ initialCap .Name }}Cb {{ initialCap .Name }}Callbacks
  {{ end }}
}

var objCallbackHandler CallbackHandlers
