{{ if .CfgProperties | len }}
// {{ initialCap .Name }} object
type {{ initialCap .Name }} struct {
	// every object has a key
	Key		string		`json:"key,omitempty"`

  {{ range .CfgProperties }} {{ .GenerateGoStructs }} {{ end }}

  {{ if .LinkSets | len }}
  // add link-sets and links
	LinkSets	{{ initialCap .Name }}LinkSets		`json:"link-sets,omitempty"`
  {{ end }} {{ if .Links | len }} Links	{{ initialCap .Name }}Links		`json:"links,omitempty"`
  {{ end }}
}

{{ if .LinkSets | len }}
// {{ initialCap .Name }}LinkSets list of internal links
type {{ initialCap .Name }}LinkSets struct {
  {{ range .LinkSets }} {{ initialCap .Name }}	map[string]Link		`json:"{{ .Name }},omitempty"`
  {{end}}
}
{{ end }}

{{ if .Links | len }}
// {{ initialCap .Name }}Links internal links to other object
type {{ initialCap .Name }}Links struct {
  {{ range .Links }} {{ initialCap .Name }} Link	`json:"{{ .Name }},omitempty"`
  {{ end }}
}
{{ end }}
{{ end }}

{{ if .OperProperties | len }}
// {{ initialCap .Name }}Oper runtime operations
type {{ initialCap .Name }}Oper struct {
  {{ range .OperProperties }} {{ .GenerateGoStructs }} {{ end }}

  {{ if .OperLinkSets | len }}
	// add link-sets and links
	LinkSets	{{ initialCap .Name }}LinkSets		`json:"link-sets,omitempty"`
  {{ end }} {{ if .OperLinks | len }} OperLinks	{{ initialCap .Name }}Links		`json:"links,omitempty"`
  {{ end }}
}
{{ end }}

// {{ initialCap .Name }}Inspect inspect information
type {{ initialCap .Name }}Inspect struct {
	{{ if .CfgProperties }}
	Config		{{ initialCap .Name }}
	{{ end }}

	{{ if .OperProperties }}
	Oper		{{ initialCap .Name }}Oper
	{{ end }}
}

