type Collections struct {
  {{ range .Objects }}
  {{ if .CfgProperties | len }}
  {{ .Name }}Mutex sync.Mutex
  {{ .Name }}s map[string]*{{ initialCap .Name }}
  {{ end }}
  {{ end }}
}

var collections Collections
