type {{ initialCap .Name }} struct {
	// every object has a key
	Key		string		`json:"key,omitempty"`

  {{ range .CfgProperties }} {{ .GenerateGoStructs }} {{ end }}

  {{ if .LinkSets | len }}
	// add link-sets and links
	LinkSets	{{ initialCap .Name }}LinkSets		`json:"link-sets,omitempty"`
  {{ end }} {{ if .Links | len }} Links	{{ initialCap .Name }}Links		`json:"links,omitempty"`
  {{ end }}
}

{{ if .LinkSets | len }}
type {{ initialCap .Name }}LinkSets struct {
  {{ range .LinkSets }} {{ initialCap .Name }}	map[string]modeldb.Link		`json:"{{ .Name }},omitempty"`
  {{end}}
}
{{ end }}

{{ if .Links | len }}
type {{ initialCap .Name }}Links struct {
  {{ range .Links }} {{ initialCap .Name }} modeldb.Link	`json:"{{ .Name }},omitempty"`
  {{ end }}
}
{{ end }}

{{ if .OperProperties | len }}
type {{ initialCap .Name }}Oper struct {
  {{ range .OperProperties }} {{ .GenerateGoStructs }} {{ end }}

  {{ if .OperLinkSets | len }}
	// add link-sets and links
	LinkSets	{{ initialCap .Name }}LinkSets		`json:"link-sets,omitempty"`
  {{ end }} {{ if .Links | len }} OperLinks	{{ initialCap .Name }}Links		`json:"links,omitempty"`
  {{ end }}
}
{{ end }}

type {{ initialCap .Name }}Inspect struct {
	Config		{{ initialCap .Name }}
	{{ if .OperProperties }}
	Oper		{{ initialCap .Name }}Oper
	{{ end }}
}
