{{ initialCap .Name }}{{ if eq .Type "array" }} []{{ translateType .Items }} `json:"{{ .Name }},omitempty"` {{ else }} {{ translateType .Type }} `json:"{{ .Name }},omitempty"` // {{.Description}} {{ end }}
