{{ initialCap .Name }} {{ if eq .Type "array" }} []{{ if .CfgObject }}{{ translateCfgType .Items }}{{ else }}{{ translateOperType .Items }}{{ end }} `json:"{{ .Name }},omitempty"`{{ else }} {{ if .CfgObject }}{{ translateCfgType .Type }}{{ else }}{{ translateOperType .Type }}{{ end}} `json:"{{ .Name }},omitempty"` // {{.Title}} {{ end }}
